
* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #242424;
}

#header {
  margin: 50px 0 0 0px;
  text-align: center;
  font-family: Ubuntu;
  color:rgb(245, 125, 217); 
}

.sub {
  text-align: center;
  font-family: Ubuntu;
  color:rgb(148, 148, 148); 
}

img{
  opacity:0.6;
  height: 300px;
  margin: 0 0 50px 0;
}

.container {
  text-align: center;
  margin: 40px auto;
  max-width: 1000px;
  border-radius: 50px;
  box-shadow: rgba(242, 186, 237, 0.1) 0px 0px 50px;
  }

.container1 {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  padding: 10px 10px;
  border-radius: 8px;
  }
  
  input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 33px;
  border: 2px solid;
  border-color:rgb(245, 125, 217);
  background: none;
  padding: 5px 15px;
  margin: 0 5px 23px 5px;
  color:#f57dd9;
  cursor: pointer;
}

#start-game{
  animation-name: glow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes glow{
  0% {color:#f57dd9; border-color:#f57dd9;}
  25% {color:#37bec2 ;border-color: #37bec2;}
  50%{color:#948aed;border-color:#6454f5;}
  75% {color:#d27e34;border-color:#c27430;}
}

button:hover{
  box-shadow: #f0aae0 0 0.5em 0.5em -0.4em ;
  transform: translateY(-0.25em);
  color:rgb(255, 160, 233);

}

button:active{
  border: 2px solid;
  box-shadow: 0 0 ;
  
  transform: translateY(2px);
  color:#f0aae0;
}

#instructions{
  color:#f0aae0; 
  font-family: Ubuntu;
  
}
.output-div {
  background: rgb(255,170,245);
  background: radial-gradient(circle, rgba(255,170,245,1) 0%, rgba(236,193,240,1) 35%, rgba(131,185,223,1) 68%, #9eeddc 95%);  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 5px 10px #9eeddc;
  clip-path: inset(0px -15px 0px -15px);
  width: 100%;
  font-family: Ubuntu;
  font-size: 18px;

}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.instructions-text {
  font-size: 0.85em;
  font-style: italic;
}

.text-center {
  text-align: center;
}


.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
